/*Universal and Shared Property*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'raleway';
}

/* Color Property */
.prime {
    color: #4E47FF;
}
.black {
    color: #252432;
}

.dark {
    color: #000000;
    opacity: 50%;
}

.dark2 {
    color: #252432;
    opacity: 50%;
}

.dark3{
    color: #8987A1;
}

/* Fonts */

.inner{
    font-family: 'inner';
    font-weight: 300;
}

.innerb{
    font-family: 'inner';
    font-weight: bold;
}

.primary-btn {
    background-color: #4E47FF;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 16px; 
    padding: 12px 36px;
    border-radius: 10px;
    cursor: pointer;
    border-style: none;
    transition: color 0.5s ease;
}

.primary-btn:hover {
    border-style: solid;
    background-color: white;
    color: #4E47FF;
    border-color: #4E47FF;
    font-size: 16px; 
    padding: 12px 36px;
    border-radius: 10px;
}

/*Header Section*/
header {
    background-color: white;
}

.nav-bar {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 50px 150px;
}

.logo {
    font-family: 'inter';
    font-weight: 800;
    color: #4E47FF;
}

.banner {
    display: inline-flexbox;
    text-align: center;
    padding: 200px 0px;
}

.banner h1{
    font-weight: bold;
    font-size: 65px;
    padding-bottom: 37px;
}

/* Action Section */

.as {
    display: flex;
    justify-content: space-around;
    padding: 116px 141px;
}

.left-as {
    display: inline;
    max-width: 517px;
    max-height: 203px;
    padding: 63px 0px;
}

.left-as h2 {
    font-size: 42px;
    font-weight: bold;
    padding-bottom: 23px;
}

.left-as h3 {
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 23px;
}

.right-as img{
    border-radius: 48px;
}

/* Productive Users Section */

.pus {
    text-align: center;
    padding: 50px 80px;
    margin-top: 115px;
    margin-bottom: 138px;
}

.push {
    padding-bottom: 40px;
    font-family: 'raleway';
    font-weight: bold;
    font-size: 40px;
}

.info-contain1 {
    display: flex;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    padding: none;
   
}

.info-contain1 h2 {
    padding-bottom: 10px;
    font-family: 'inter';
    font-size: 70px;
    font-weight: bold;
}


.info-contain1 h4  {
    font-family: 'inter';
    font-size: 20px;
    font-weight: normal;
   
}

/* Footer Section */

.footer{
    align-content: center;
    text-align: center;
    background-color: #FFFFFF;
    padding: 105px 455px;
}   

.fl h1{
    display: inline-flex;
    align-content: center;
    padding-bottom: 8px;
}

.ft .ftc{
    display: inline-flex;
    gap: 50px;
    text-align: center; 
    font-size: 16px;
}

.ft p{
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 20px;  
}

.ft a{
    text-decoration: none;
    color: #8987A1;
}
